.option.genji{ background-image: url("/ui/overwatch/img/heroes/genji.png"); }
.option.mccree{ background-image: url("/ui/overwatch/img/heroes/mccree.png"); }
.option.pharah{ background-image: url("/ui/overwatch/img/heroes/pharah.png"); }
.option.reaper{ background-image: url("/ui/overwatch/img/heroes/reaper.png"); }
.option.soldier-76{ background-image: url("/ui/overwatch/img/heroes/soldier-76.png"); }
.option.sombra{ background-image: url("/ui/overwatch/img/heroes/sombra.png"); }
.option.tracer{ background-image: url("/ui/overwatch/img/heroes/tracer.png"); }
.option.bastion{ background-image: url("/ui/overwatch/img/heroes/bastion.png"); }
.option.hanzo{ background-image: url("/ui/overwatch/img/heroes/hanzo.png"); }
.option.junkrat{ background-image: url("/ui/overwatch/img/heroes/junkrat.png"); }
.option.mei{ background-image: url("/ui/overwatch/img/heroes/mei.png"); }
.option.torbjorn{ background-image: url("/ui/overwatch/img/heroes/torbjorn.png"); }
.option.torbjorn{ background-image: url("/ui/overwatch/img/heroes/torbjorn.png"); }
.option.widowmaker{ background-image: url("/ui/overwatch/img/heroes/widowmaker.png"); }
.option.dva{ background-image: url("/ui/overwatch/img/heroes/dva.png"); }
.option.orisa{ background-image: url("/ui/overwatch/img/heroes/orisa.png"); }
.option.reinhardt{ background-image: url("/ui/overwatch/img/heroes/reinhardt.png"); }
.option.roadhog{ background-image: url("/ui/overwatch/img/heroes/roadhog.png"); }
.option.winston{ background-image: url("/ui/overwatch/img/heroes/winston.png"); }
.option.zarya{ background-image: url("/ui/overwatch/img/heroes/zarya.png"); }
.option.ana{ background-image: url("/ui/overwatch/img/heroes/ana.png"); }
.option.lucio{ background-image: url("/ui/overwatch/img/heroes/lucio.png"); }
.option.mercy{ background-image: url("/ui/overwatch/img/heroes/mercy.png"); }
.option.symmetra{ background-image: url("/ui/overwatch/img/heroes/symmetra.png"); }
.option.zenyatta{ background-image: url("/ui/overwatch/img/heroes/zenyatta.png"); }


/* FIRST EIGHT */

[hero=bastion]{ 
  background-image: url(/ui/overwatch/img/selected-heroes/bastion.png); 
  background-position: 18px 2px;
}

[hero=mercy]{ 
  background-image: url(/ui/overwatch/img/selected-heroes/mercy.png); 
  background-position: 18px 2px;
}

[hero=hanzo]{ 
  background-image: url(/ui/overwatch/img/selected-heroes/hanzo.png); 
  background-position: 18px 2px;
}

[hero=widowmaker]{ 
  background-image: url(/ui/overwatch/img/selected-heroes/widowmaker.png); 
  background-position: 9px 2px;
}

[hero=soldier-76]{ 
  background-image: url(/ui/overwatch/img/selected-heroes/soldier-76.png); 
  background-position: 7px 2px;
}

[hero=tracer]{ 
  background-image: url(/ui/overwatch/img/selected-heroes/tracer.png); 
  background-position: 19px 2px;
}

[hero=winston]{ 
  background-image: url(/ui/overwatch/img/selected-heroes/winston.png); 
  background-position: 19px 2px;
}

[hero=zenyatta]{ 
  background-image: url(/ui/overwatch/img/selected-heroes/zenyatta.png); 
  background-position: 19px 2px;
}

/* MIDDLE EIGHT */

[hero=ana]{ 
  background-image: url(/img/selected-heroes/ana.png); 
  background-position: 18px 2px;
}

[hero=dva]{ 
  background-image: url(/img/selected-heroes/dva.png); 
  background-position: 18px 2px;
}

[hero=junkrat]{ 
  background-image: url(/img/selected-heroes/junkrat.png); 
  background-position: 18px 2px;
}

[hero=lucio]{ 
  background-image: url(/img/selected-heroes/lucio.png); 
  background-position: 9px 2px;
}

[hero=mccree]{ 
  background-image: url(/img/selected-heroes/mccree.png); 
  background-position: 7px 2px;
}

[hero=mei]{ 
  background-image: url(/img/selected-heroes/mei.png); 
  background-position: 19px 2px;
}

[hero=orisa]{ 
  background-image: url(/img/selected-heroes/orisa.png); 
  background-position: 19px 2px;
}

[hero=pharah]{ 
  background-image: url(/img/selected-heroes/pharah.png); 
  background-position: 19px 2px;
}

/* LAST 8 */

[hero=reaper]{ 
  background-image: url(/img/selected-heroes/reaper.png); 
  background-position: 18px 2px;
}

[hero=reinhardt]{ 
  background-image: url(/img/selected-heroes/reinhardt.png); 
  background-position: 18px 2px;
}

[hero=roadhog]{ 
  background-image: url(/img/selected-heroes/roadhog.png); 
  background-position: 18px 2px;
}

[hero=sombra]{ 
  background-image: url(/img/selected-heroes/sombra.png); 
  background-position: 9px 2px;
}

[hero=symmetra]{ 
  background-image: url(/img/selected-heroes/symmetra.png); 
  background-position: 7px 2px;
}

[hero=torbjorn]{ 
  background-image: url(/img/selected-heroes/torbjorn.png); 
  background-position: 19px 2px;
}

[hero=zarya]{ 
  background-image: url(/img/selected-heroes/zarya.png); 
  background-position: 19px 2px;
}

[hero=genji]{ 
  background-image: url(/img/selected-heroes/genji.png); 
  background-position: 19px 2px;
}